.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;

    input, button {
        font-size: 1.5rem;
        padding: 0.25rem;
        border: 2px solid rgb(198, 69, 0);
    }
    button {
        background-color: rgb(198, 69, 0);
        color: white;
        cursor: pointer;
    }
}