* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(198, 69, 0);
}

ul {
    list-style-type: none;
}

.morePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    button {
        padding: 0.25rem 0.5rem;
        font-size: 1.5rem;
        border: none;
        background-color: rgb(198, 69, 0);
        color: white;
        cursor: pointer;
    }
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    color: #232323 ;
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
@import "./about"